@media screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .container h1 {
    font-size: 30px;
  }
  .container #buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
  }
  .container #buttons button {
    font-size: 19px;
    width: 180px;
  }
  .container #buttons button:active {
    transform: scale(0.9);
  }
  #box {
    width: 100%;
  }
  #box #img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
  }
  .images {
    width: 100%;
  }
}
